
<p><strong>{{PROJECT.Kurzbeschreibung}}</strong></p>

<p>{{PROJECT.Langbeschreibung}}</p>

<!-- p><a class="internal-link" href="t3://page?uid=37222">Linkmöglichkeit 1</a></p>

<p><a class="btn btn-green internal-link" href="t3://page?uid=37222">Linkmöglichkeit 2</a></p -->

<p></p>

<h3>Allgemeine Informationen</h3>

<table>
	<tbody>
		<tr>
			<td>Projekt-URL:</td>
			<td><a href="{{PROJECT["Projekt-Url"]}}">{{PROJECT["Projekt-Url"]}}</a></td>
		</tr>
		<tr>
			<td>Kategorie:</td>
			<td><span class="badge" style="background-color:#aa5">{{PROJECT.Kategorie}}</span></td>
		</tr>
		<tr>
			<td>Typ:</td>
			<td>{{PROJECT.Typ}}</td>
		</tr>
		<tr>
			<td>Entstanden in:</td>
			<td>{{PROJECT.Ursprung}}</td>
		</tr>
		<tr>
			<td>Projektstart:</td>
			<td>{{PROJECT.Projektstart}}</td>
		</tr>
		<tr>
			<td>Projektquelle:</td>
			<td>{{PROJECT.Quelle}}</td>
		</tr>
	</tbody>
</table>

<p></p>

<p></p>

<h3>Beschreibung der Aufgaben&nbsp;</h3>

<div class="teaser content-element-wrapper">
<div class="row">
<div class="col-12 col-md-4">
<div class="image">
<p><img alt="" src="/fileadmin/_processed_/9/3/csm_photovoltaikanlage_1b3a2bad62.jpg" /></p>
</div>

<div class="text">
<h3>Inhalte</h3>

<p>{{PROJECT["Benötigte Hilfe Inhalte"]}}</p>

<p><a class="btn btn-green internal-link" href="https://awm.stadt-muenster.de/panorama/stadtsauberkeit?ADMCMD_prev=IGNORE">Mehr erfahren &amp; mitmachen</a></p>
</div>
</div>

<div class="col-12 col-md-4">
<div class="image">
<p><img alt="" src="/fileadmin/_processed_/f/6/csm_windradgr_989ffc3309.jpg" /></p>
</div>

<div class="text">
<h3>Technik</h3>

<p>{{PROJECT["Benötigte Hilfe Technik"]}}</p>
</div>
</div>

<div class="col-12 col-md-4">
<div class="image">
<p><img alt="" src="/fileadmin/_processed_/9/5/csm_Laub_EKehrmaschinegr_ed25567258.jpg" /></p>
</div>

<div class="text">
<h3>Sponsor</h3>

<p>{{PROJECT["Benötigtes Sponsoring"]}}</p>
</div>
</div>
</div>
</div>

<p></p>

<h3>Technische Eckdaten</h3>

<table>
	<tbody>
		<tr>
			<td>Komplexität:</td>
			<td>{{PROJECT["Komplexität"]}}</td>
		</tr>
		<tr>
			<td>Technologie(n):</td>
			<td>{{PROJECT["Technologien"]}}</td>
		</tr>
		<tr>
			<td>Funktionsweise:</td>
			<td>Statische Webseite, generiert mit Python-Skript</td>
		</tr>
		<tr>
			<td>Deployment:</td>
			<td>{{PROJECT["Deployment"]}}</td>
		</tr>
		<tr>
			<td>Infoseite:</td>
			<td>{{PROJECT["Infoseite"]}}</td>
		</tr>
		<tr>
			<td>Kollaborationsplattform:</td>
			<td>{{PROJECT["Kollaborationsplattform"]}}</td>
		</tr>
		<tr>
			<td>Hosting:</td>
			<td>{{PROJECT["Hosting"]}}</td>
		</tr>
		<tr>
			<td>Quellcode-URL:</td>
			<td><a href="{{PROJECT["Technologien"]}}">{{PROJECT["Technologien"]}}</a></td>
		</tr>
		<tr>
			<td>Quellcode-Lizenz:</td>
			<td>{{PROJECT.Lizenz}}</td>
		</tr>
	</tbody>
</table>

<p></p>

<!-- h3>Ideenfarm Infos</h3>

<table>
	<tbody>
		<tr>
			<td>Programmiersprache(n):</td>
			<td>Python, HTML, CSS</td>
		</tr>
		<tr>
			<td>Funktionsweise:</td>
			<td>Statische Webseite, generiert mit Python-Skript</td>
		</tr>
		<tr>
			<td>In der Liste seit:</td>
			<td>&nbsp;01/2022</td>
		</tr>
	</tbody>
</table>

<p></p -->