
<p><strong>{{PROJECT.Kurzbeschreibung}}</strong></p>

<p>{{PROJECT.Langbeschreibung}}</p>

<p></p>

<h3>Allgemeine Informationen</h3>

<table>
	<tbody>
		<tr>
			<td>Bildschirmfoto:</td>
			<td><img alt="Bildschirmfoto" src="https://raw.githubusercontent.com/od-ms/digifarm-ms/main/images/small/{{PROJECT.Vorschaubild}}" /></td>
		</tr>
		<tr>
			<td>Projekt-URL:</td>
			<td><a href="{{PROJECT["Projekt-Url"]}}">{{PROJECT["Projekt-Url"]}}</a></td>
		</tr>
		<tr>
			<td>Kategorie:</td>
			<td><span class="badge" style="background-color:#aa5">{{PROJECT.Kategorie}}</span></td>
		</tr>
		<tr>
			<td>Typ:</td>
			<td>{{PROJECT.Typ}}</td>
		</tr>
		<tr>
			<td>Entstanden in:</td>
			<td>{{PROJECT.Ursprung}}</td>
		</tr>
		<tr>
			<td>Projektstart:</td>
			<td>{{PROJECT.Projektstart}}</td>
		</tr>
		<tr>
			<td>Projektquelle:</td>
			<td>{{PROJECT.Quelle}}</td>
		</tr>
	</tbody>
</table>

<p></p>

<p></p>


<h3>Technische Eckdaten</h3>

<table>
	<tbody>
		<tr>
			<td>Komplexität:</td>
			<td>{{PROJECT["Komplexität"]}}</td>
		</tr>
		<tr>
			<td>Technologie(n):</td>
			<td>{{PROJECT["Technologien"]}}</td>
		</tr>
{% if PROJECT["Weitere Infos"] %}
		<tr>
			<td>Weitere Infos:</td>
			<td>{{PROJECT["Weitere Infos"]}}</td>
		</tr>
{% endif %}
		<tr>
			<td>Deployment:</td>
			<td>{{PROJECT["Deployment"]}}</td>
		</tr>
{% if PROJECT.Infoseite %}
		<tr>
			<td>Infoseite:</td>
			<td><a href="{{PROJECT["Infoseite"]}}">{{PROJECT["Infoseite"]}}</a></td>
		</tr>
{% endif %}
		<tr>
			<td>Kollaborationsplattform:</td>
			<td>{{PROJECT["Kollaborationsplattform"]}}</td>
		</tr>
		<tr>
			<td>Quellcode-URL:</td>
			<td><a href="{{PROJECT["Quellcode"]}}">{{PROJECT["Quellcode"]}}</a></td>
		</tr>
		<tr>
			<td>Quellcode-Lizenz:</td>
			<td>{{PROJECT.Lizenz}}</td>
		</tr>
	</tbody>
</table>

<p></p>

<p></p>


<h3>Beschreibung der Aufgaben&nbsp;</h3>

<div class="teaser">
<div class="row" style="background-color:white">
<div class="col-12 col-md-4">
<div class="image" style="margin-top:0">
<p><img style="height:auto;bottom:0;top:auto" alt="Inhalte" src="https://www.stadt-muenster.de/fileadmin/user_upload/stadt-muenster/DigiFarm/pics/logos/helfende-redakteurin.png" /></p>
</div>

<div class="text">
<h3>Inhalte</h3>

<p>{{PROJECT["Benötigte Hilfe Inhalte"]}}</p>

{% if PROJECT.Inhalt %}
	<p>Unterstützt durch: <br />{{renderPersonInsideJinja(PROJECT.Inhalt)}}</p>
{% else %}
	<span class="badge" style="background-color:#aa5">Hilfe für die Inhalte gesucht!</span>
{% endif %}

</div>
</div>

<div class="col-12 col-md-4">
<div class="image" style="margin-top:0">
<p><img style="height:auto;bottom:0;top:auto" alt="Technik" src="https://www.stadt-muenster.de/fileadmin/user_upload/stadt-muenster/DigiFarm/pics/logos/helfende-entwicklerin.png" /></p>
</div>

<div class="text">
<h3>Technik</h3>

<p>{{PROJECT["Benötigte Hilfe Technik"]}}</p>

{% if PROJECT.Technik %}
	<p>Unterstützt durch: <br />{{renderPersonInsideJinja(PROJECT.Technik)}}</p>
{% else %}
	<span class="badge" style="background-color:#aa5">Technik-Hilfe gesucht!</span>
{% endif %}

</div>
</div>

<div class="col-12 col-md-4">
<div class="image" style="margin-top:0">
<p><img style="height:auto;bottom:0;top:auto" alt="Sponsor" src="https://www.stadt-muenster.de/fileadmin/user_upload/stadt-muenster/DigiFarm/pics/logos/helfende-sponsorin.png" /></p>
</div>

<div class="text">
<h3>Sponsor</h3>

<p>{{PROJECT["Benötigtes Sponsoring"]}}</p>

{% if PROJECT.Sponsor %}
	<p>Unterstützt durch: <br />{{renderPersonInsideJinja(PROJECT.Sponsor)}}</p>
{% else %}
	<span class="badge" style="background-color:#aa5">Sponsoring gesucht!</span>
{% endif %}

</div>
</div>

<p><a class="btn btn-green internal-link" href="https://awm.stadt-muenster.de/panorama/stadtsauberkeit?ADMCMD_prev=IGNORE">Hier klicken, um bei diesem Projekt mitzuhelfen</a></p>

</div>
</div>

<p></p>

<p></p>

<!-- h3>Ideenfarm Infos</h3>

<table>
	<tbody>
		<tr>
			<td>Programmiersprache(n):</td>
			<td>Python, HTML, CSS</td>
		</tr>
		<tr>
			<td>Funktionsweise:</td>
			<td>Statische Webseite, generiert mit Python-Skript</td>
		</tr>
		<tr>
			<td>In der Liste seit:</td>
			<td>&nbsp;01/2022</td>
		</tr>
	</tbody>
</table>

<p></p -->